@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your own custom utilities */

:root {
  --theme-bg: #ffffff;
  --montserrat: "Montserrat", sans-serif;
  --inter: "Inter", sans-serif;
  --poppins: "Poppins", sans-serif;
  --roboto-condensed: "Roboto Condensed", sans-serif;
  --theme-font: var(--poppins);
  --text-color: #010101;
  --theme-bg: #ffffff;
  --white: #ffffff;
  --black: #000;
  --primary-color: #000;
  --secondary-color: #ea552b;
  --transition: all 0.3s ease-in-out;
  --shadow: 0px 4px 28px 0px rgba(163, 163, 163, 0.25);
  --shadow-secondary: 0 0 31px rgba(0, 0, 0, 0.1);
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --primary-color: #fff;
    --secondary-color: #ea552b;
  }
}
.font-inter {
  font-family: var(--inter);
}
.font-poppins {
  font-family: var(--theme-font);
}
.font-montserrat {
  font-family: var(--montserrat);
}
.font-robotocondensed {
  font-family: var(--roboto-condensed);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0px;
  margin: 0px;
  color: var(--theme-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--poppins);
}
ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  display: inline-block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
p {
  line-height: 1.8;
}
p, span {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: var(--colorBlack);
  background: url(/images/body-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--theme-font);
}
img {
  width: auto;
  height: auto;
  object-fit: cover;
}
input, textarea {
  width: 100%;
  padding: 12px 20px;
  outline: none;
  resize: none;
  border: 1px solid #e4e7e9;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 300;
}
input::placeholder, textarea::placeholder {
  color: #a6a6ac;
}
button {
  border: none;
}
.btn {
  background-color: var(--secondary-color);
  padding: 16px 45px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  color: var(--white);
  position: relative;
  overflow: hidden;
  text-transform: capitalize;
  z-index: 1;
}
.btn::before {
  content: "";
  position: absolute;
  inset: 0px;
  width: 0px;
  transition: var(--transition);
  background: var(--black);
  z-index: -1;
}
.btn:hover {
  color: var(--white);
}
.btn:hover::before {
  width: 100%;
}
.btn:focus {
  box-shadow: none;
  outline: 0px;
}
@media (max-width: 1024px) { 
  .btn {
    padding: 16px 25px;
    white-space: nowrap;
  }
}
.btn-animated {
  width: 170px;
  min-width: 170px;
  height: 170px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  color: white;
  font-weight: 600;
  position: relative;
  overflow: hidden !important;
  gap: 16px;
  z-index: 1;
  padding: 0px;
}
.btn-animated span {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  border-radius: 100%;
  background: var(--secondary-color);
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.7s, padding-top 0.7s;
}
.btn-animated:hover {
  color: var(--secondary-color);
    border: 1px solid #ffe600;
}
.btn-animated:hover span {
  width: 225%;
  padding-top: 225%;
}

.alter-btn {
  padding: 70px 40px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-flex;
  flex-wrap: wrap;
  row-gap: 8px;
  border: 1px solid var(--black);
  color: var(--text-color);
  justify-content: flex-start;
  font-weight: 600;
  font-size: 18px;
  background: var(--white);
  transition: var(--transition);
}
.alter-btn:hover {
  color: var(--white);
  border: 1px solid var(--secondary-color);
}
.alter-btn svg {
  height: 1em;
}
@media (max-width:767px) {
  .alter-btn {
    width: 100px;
    height: 100px;}
}
.btn-animated-light {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}
.btn-animated-light span {
  background-color: var(--primary-color);
}
.btn-animated-light:hover {
  border: 1px solid var(--primary-color);
  color: white;
}

.btn-line {
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--theme-color);
  position: relative;
}
.btn-line::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 1px;
  background-color: var(--theme-color);
  transition: var(--transition);
}
.btn-line::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 0%;
  height: 1px;
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out;
  transition-delay: 0.5s;
}
.btn-line:hover {
  color: var(--primary-color);
}
.btn-line:hover::before {
  width: 0%;
  left: 100%;
}
.btn-line:hover::after {
  left: 0px;
  width: 100%;
}

.btn-angle {
  position: relative;
  font-weight: 400;
  padding: 6px 24px;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  gap: 0px;
}
.btn-angle::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0px;
  left: 0px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: var(--transition);
}
.btn-angle::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0px;
  right: 0px;
  border-right: 1px solid white;
  border-top: 1px solid white;
  transition: var(--transition);
}
.btn-angle span {
  display: inline-block;
}
.btn-angle span::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: 0px;
  right: 0px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: var(--transition);
}
.btn-angle span::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: 0px;
  left: 0px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  transition: var(--transition);
}
.btn-angle:hover::after, .btn-angle:hover::before,
.btn-angle:hover span::after,
.btn-angle:hover span::before {
  width: calc(50% + 0px);
  height: calc(50% + 0px);
  border-color: var(--secondary-color);
}
.container-lg {
  max-width: 1600px;
}
@media (max-width: 1600px) {
  .container-lg {
    max-width: 1320px;
}
}
.header {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 25px;
  z-index: 999;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.header.header-fix {
  background: var(--white);
    margin-top: 0;
    width: 100%;
    height: 90px;
}

.banner-img {
  height: 100vh;
  position: relative;
} 
.banner-img .img {
  width: 565px;
  height: 780px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.banner-img .img img {
  width: 100%;
}

.banner-text-top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto !important;
  position: absolute;
  left: 50%;
  top: 230px;
  transform: translate(-50%, 0%);
  z-index: 2;
}
@media (max-width: 800px) {
  .banner-text-top {
    top: 200px;
  }
}
@media (max-width: 767px) {
  .banner-text-top {
    top: 130px;
  }
}
.banner-text-top-right {
  display: flex;
  flex-wrap: wrap;
}
.banner-text-center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.banner-text-center .hero-heading, .banner-text-center .hero-heading span {
  font-size: 140px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: #387dbe;
}
.banner-text-center .hero-heading span {
  -webkit-text-stroke: 3px #387dbe;
  -webkit-text-fill-color: #ffffff00;
}
.banner-text-bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto !important;
  position: absolute;
  left: 50%;
  bottom: 125px;
  transform: translate(-50%, 0%);
  z-index: 2;
}
.banner-text-bottom .text {
  height: auto !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 350px;
}
.banner-text-bottom .text .scroll {
  width: 40px;
  height: 80px;
  margin-left: 20px;
  display: inline-block;
  border: 1px solid;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: unset;
}
.banner-text-bottom .text .scroll svg {
  animation: scrolling 1s linear infinite;
  width:20px;
}
@keyframes scrolling {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(20px);
  }
}
.banner-text-bottom .text span {
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  width: 80px;
}

.banner-text-bottom .text p {
  font-size: 18px;
  font-weight: 600;
}

.hero-banner .hero-banner-cta {

  flex-direction: column;
  gap: 10px;
  color: var(--text-color);
  margin-top: -50px;
}
.hero-banner .hero-banner-cta-img {
  display: flex;
  align-items: center;
  gap: 0px;
}
.hero-banner .hero-banner-cta-img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: -12px;
  border: solid 3px #fff;
}
.hero-banner .hero-banner-cta-img img:nth-of-type(1) {
  margin-left: -5px;
}
@media (max-width: 1600px) {
  .banner-text-center .hero-heading, .banner-text-center .hero-heading span {
      font-size: 120px;
  }
}
@media (max-width: 1399.99px) {
  .banner-text_top {
    top: 160px;
}
.banner-text-bottom {
    bottom: 50px;
}
.banner-text-center {
    padding-top: 80px;
}
.banner-img .img {
    width: 340px;
    height: 500px;
}
.banner-text-center .hero-heading, .banner-text-center .hero-heading span {
    font-size: 116px;
}
}

@media (max-width: 1199.99px) {
.banner-text-center .hero-heading, .banner-text-center .hero-heading span {
    font-size: 98px;
}
}
@media (max-width: 991.99px) {
  .banner-text-center .hero-heading, .banner-text-center .hero-heading span {
    font-size: 75px;
}
@media (max-width: 767px) {
  .banner-text-center .hero-heading, .banner-text-center .hero-heading span {
    font-size: 55px;
  }
  .banner-text-center .hero-heading span {
    -webkit-text-stroke: 2px #387dbe;
  }
  .banner-img .img {
    width: 260px;
    height: 370px;
  }
  .hero-banner .hero-banner-cta {
    margin-top: 10px;
  }
  .banner-text-bottom {
    display: none;
  }
  .banner-text-center {
    padding-top: 0;
    top: inherit;
    bottom: 0;
}
}
.banner-img {
    height: 70vh;
    position: relative;
}
.banner-text_top {
    top: 170px;
}
.banner-text-bottom {
    bottom: 45px;
}
}


.cursor-outer {
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  height: 32px;
  border: 1px solid white;
  box-sizing: border-box;
  z-index: 10000000;
  opacity: 1;
  transition: all 0.08s ease-out;
  mix-blend-mode: difference;
}
.cursor-outer.cursor-hover {
  opacity: 0;
  transition: var(--transition);
}
.cursor-outer.cursor-big {
  opacity: 0;
}

.mouseCursor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  border-radius: 50%;
  transform: translateZ(0);
  visibility: hidden;
  text-align: center;
}
.mouseCursor.cursor-big {
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
}

.cursor-inner {
  margin-left: -5px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  z-index: 10000001;
  background-color: white;
  opacity: 1;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
  mix-blend-mode: difference;
}
.cursor-inner span {
  color: white;
  line-height: 60px;
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}
.cursor-inner.cursor-hover {
  margin-left: -12px;
  margin-top: -12px;
  width: 25px;
  height: 25px;
  background-color: white;
  opacity: 0;
  mix-blend-mode: difference;
  transition: var(--transition);
}

.progress-wrap {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  background-color: #1f1f1f;
  box-shadow: inset 0 0 0 8px #1f1f1f;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 200ms linear;
  z-index: 99;
  overflow: hidden;
}
.progress-wrap span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34px;
  height: 34px;
  background-color: var(--white);
  border-radius: 50%;
  overflow: hidden;
}
.progress-wrap span::after {
  content: "\f176";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  text-align: center;
  line-height: 34px;
  font-size: 16px;
  border-radius: 50%;
  color: var(--black);
  left: 50%;
  top: 50%;
  transform: translate(-50%, 200%);
  height: 34px;
  width: 34px;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: all 200ms linear;
}
.progress-wrap span::before {
  position: absolute;
  content: "\f176";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  text-align: center;
  line-height: 34px;
  font-size: 16px;
  border-radius: 50%;
  color: var(--black);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 34px;
  width: 34px;
  cursor: pointer;
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}
.progress-wrap:hover span::before {
  transform: translate(-50%, -200%);
}
.progress-wrap:hover span::after {
  transform: translate(-50%, -50%);
}
.progress-wrap path {
  fill: none;
}
.progress-wrap .progress-circle path {
  stroke: var(--secondary-color);
  stroke-width: 4;
  box-sizing: content-box;
  transition: all 200ms linear;
}

.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}
.section-heading {
  background: var(--black);
  padding: 52px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.section-heading h2, .section-heading h2 span {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 80px;
  text-align: center;
  white-space: nowrap;
}
.section-heading h2 .outline-text {
  -webkit-text-stroke: 1px #ffffff;
  -webkit-text-fill-color: #ffffff00;
  margin: 0 25px;
}
@media (max-width:767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section-heading {
    padding: 20px 0;
  }
  .section-heading h2, .section-heading h2 span {
    font-size: 30px;
  }
  
}
.about-section {
  background: url(/images/golden-bg.jpg);
  padding-top: 0;
}
.about-me-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.about-me-text .description {
  font-weight: 600;
  font-size: 36px;
  position: relative;
}

.about-me-text ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 35px;
}
.about-me-text ul li {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.about-me-text ul li h2, .about-me-text ul li h2 span {
  font-weight: 900;
  font-size: 55px;
}

.about-me-text ul li p {
  font-size: 18px;
  font-weight: 700;
  max-width: 100px;
  margin-left: 10px;
}

@media (max-width: 1600px) {
  .about-me-text .description {
    font-size: 26px;
  }
}
@media (max-width: 800px) {
  .about-me-section {
    padding-bottom: 0;
  }
}